html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f4f7;
  color: #455a64;
}

.container {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}

.left {
  display: grid;
  place-items: center end;
  padding: 4rem;
}

.left > * {
  text-align: right;
}

.right {
  display: grid;
  place-items: center start;
  padding: 1rem;
}

.board {
  background-color: #455a64;
  display: grid;
  aspect-ratio: 1 / 1;
  width: 50vmin;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.cell {
  background-color: #f0f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: #fa9c94;
}

button {
  font-size: 0.85rem;
  font-weight: bold;
  background-color: #455a64;
  color: #f0f4f7;
  border: none;
  border-radius: 7px;
  padding: 1em;
}

dialog {
  background-color: #f0f4f7;
  color: #455a64;
  border-radius: 10px;
}

input[type="text"] {
  background-color: #f0f4f7;
  border: 1px solid #455a64;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.85em;
  color: #455a64;
}
